.testimonials {
  background-color: #f5f5f5;
  padding: 40px;
}

.testimonial {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}

.author {
  text-align: right;
  font-style: italic;
}
